<a href="https://colab.research.google.com/github/vanshikamandala/python-exercise/blob/main/module_2_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Recursive function to compute GCD of 2 numbers
def gcd(m, n):
   if m == n:
      return m
   elif m < n:
      return gcd(n, m)
   else:
      return gcd(n, m - n)

m= 12
n = 34
print(gcd(m, n))

2

In [ ]:
#Program to print a specified list after removing the 0th, 4th and 5th elements.
#Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
#Expected Output : ['Green', 'White', 'Black']
vanshika= ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
vanshika.pop(0)
vanshika.pop(4)   #value gets updated
vanshika.pop(3)
print(vanshika)

['Green', 'White', 'Black']

In [ ]:
#Program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings
def match_words(words):
  ctr = 0
for word in words:
    if len(word) > 1 and word[0] == word[-1]:
      ctr += 1
  return ctr
print(match_words(['abc', 'xyz', 'aba', '1221']))

2

In [ ]:
#Recursive function to find product of two numbers
def product(a,b):
    if(a<b):
        return product(b,a)
    elif(b!=0):
        return(a+product(a,b-1))
    else:
        return 0
a=4
b=8
print(product(a,b))

32

In [ ]:
#Recursive function to generate Fibonacci series
def fibonacci(n):
	if n<=1:
		return n
	else:
		return(fibonacci(n-1) + fibonacci(n-2))
n=3
print(fibonacci(n))

2

In [ ]:
#Program to get the difference between the two lists
A = [1, 3, 5, 7, 9]
V=[1, 2, 4, 6, 7, 8]
A_V = list(set(A) - set(V))
V_A = list(set(V) - set(A))
total_diff = A_V + V_A
print(total_diff)

[9, 3, 5, 8, 2, 4, 6]

In [ ]:
# Given a list of numbers of list, write a Python program to create a list of tuples
A_B=2
B_A=3
V=[(x,x**2) for x in range(A_B,B_A+1)]
print(V)

[(2, 4), (3, 9)]

In [ ]:
#Program to generate and print a dictionary that contains a number (between 1 and n in the form of (x,x*x)
n=int(input("Input a number "))
d = dict()

for x in range(1,n+1):
    d[x]=x*x

print(d)

Input a number 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
#Program to remove a key from a dictionary
vanshika = {'a':3,'b':6,'c':1,'d':5}
print(vanshika) 
if 'a' in vanshika:
    del vanshika['a']
print(vanshika)

{'a': 3, 'b': 6, 'c': 1, 'd': 5}
{'b': 6, 'c': 1, 'd': 5}

In [ ]:
#Program to get the maximum and minimum value in a dictionary
my_dict = {'x':5056, 'y':584, 'z': 5}
key_max = max(my_dict.keys(), key=(lambda k: my_dict[k]))
key_min = min(my_dict.keys(), key=(lambda k: my_dict[k]))
print(my_dict[key_max])
print(my_dict[key_min])

5056
5

In [ ]:
#Python function that accepts a string and calculates the number of uppercase and lower case letters
string = input('Enter any string: ')
upper, lower = 0, 0
for i in string:
    if(i.islower()):
        lower = lower + 1
    elif(i.isupper()):
        upper = upper + 1
print('Lowercase characters:',lower)
print('Uppercase characters:',upper)

Enter any string: vanshika
Lowercase characters: 8
Uppercase characters: 0

In [ ]:
#Program for replacing one substring by another For example - Rabbit - Replace bb
animal='rabbit'
print(animal.replace('bb','cc'))
print(animal)

raccit
rabbit

In [ ]:
#square of 2 numbers
a=[1,2,5,6]
vanshika=[(val,pow(val,2)) for val in a]
print(vanshika)

[(1, 1), (2, 4), (5, 25), (6, 36)]

In [ ]:
#having first element as the number and second element as the square of the number
def find_len(list1):
	length = len(list1)
	list1.sort()
	print("Largest element is:", list1[length-1])
	print("Smallest element is:", list1[0])
	print("Second Largest element is:", list1[length-2])
	print("Second Smallest element is:", list1[1])
list1=[34,12,6,5,24,31,3,56,11]
Largest = find_len(list1)

Largest element is: 56
Smallest element is: 3
Second Largest element is: 34
Second Smallest element is: 5