<a href="https://colab.research.google.com/github/vanshikamandala/python-exercise/blob/main/module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def nCr(n, r):
    return (fact(n) / (fact(r)
                * fact(n - r)))
def fact(n):
    res = 1    
    for i in range(2, n+1):
        res = res * i     
    return res
nCr(n=int(input()),r=int(input()))

5
2

10.0

In [ ]:
def gcd(a,b):
    if (a == 0):
        return b
    if (b == 0):
        return
    if (a == b):
        return a
    if (a > b):
        return gcd(a-b, b)
    return gcd(a, b-a)
gcd(20,10)

10

In [ ]:
list= ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow'] 
list.pop(0)
list.pop(4)
print(list)

['Green', 'White', 'Black', 'Pink']

In [ ]:
l1= ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow'] 
l2= ['Red', 'Green', 'White', 'Black']
x=set(l1)
y=set(l2)
z=x.difference(y)
print(z)

{'Yellow', 'Pink'}

In [ ]:
list=[1,2,3,4,5]
list.sort()
print(list)
print("Second Largest element is:", list[3])
print("Second Smallest element is:", list[1])

[1, 2, 3, 4, 5]
Second Largest element is: 4
Second Smallest element is: 2

In [ ]:
my_list = [23, 42, 67, 89, 11, 32]
print(my_list)
my_result = [(val, pow(val, 2)) for val in my_list]
print(my_result)

[23, 42, 67, 89, 11, 32]
[(23, 529), (42, 1764), (67, 4489), (89, 7921), (11, 121), (32, 1024)]

In [ ]:
my_list = [(32, 51), (22,13 ), (94, 65, 77), (70, ), (80, 61, 13, 17)]
print(my_list)
K = 2
my_result = [x for x in my_list if len(x) != K]
print("The filtered list is : ")
print(my_result)

[(32, 51), (22, 13), (94, 65, 77), (70,), (80, 61, 13, 17)]
The filtered list is :
[(94, 65, 77), (70,), (80, 61, 13, 17)]

In [ ]:
n=int(input("Input a number "))
d = dict()
for x in range(1,n+1):
    d[x]=x*x
print(d)

Input a number 10
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}