<a href="https://colab.research.google.com/github/vanshikamandala/python-exercise/blob/main/python_practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pyparsing.core import Char
a=int(input("enter a number1"));
print(a);
b=float(input("enter a number2"));
print(b);
c=a+b;
print(c);
d=Char(input("entera character"));
print(d);

enter a number110
10
enter a number220
20.0
30.0
entera characters
(s)

In [ ]:
##converting int to string,float,boolean,complex.
a=10;
print(type(a));
#before conversion
b=str(a);
print(b);
print(type(b));
#after conversion
c=float(a);
print(c);
print(type(c));
d=bool(a);
print(d);
print(type(d));
e=complex(a);
print(e);
print(type(e));

<class 'int'>
10
<class 'str'>
10.0
<class 'float'>
True
<class 'bool'>
(10+0j)
<class 'complex'>

In [ ]:
##converting complex into boolean
a=10+5j
print(a)
print(type(a))
b=bool(a)
print(b)
print(type(b))

(10+5j)
<class 'complex'>
True
<class 'bool'>

In [ ]:
##converting string to int,float,boolean,complex
a='10'
print(type(a));
#before conversion
b=int(a);
print(b);
print(type(b));
c='ten'
print(type(c))
print(c)
#cannot convertalphabet to ntegers,only digits
#instead of alphabets give 8-9
e=float(a)
print(type(e))
print(e)
f=bool(a)
print(f)
print(type(f))

<class 'str'>
10
<class 'int'>
<class 'str'>
ten
<class 'float'>
10.0
True
<class 'bool'>

In [ ]:
##converting float to int,string,boolean,complex.
a=10.5;
print(type(a));
#before conversion
b=str(a);
print(b);
print(type(b));
#after conversion
c=int(a);
print(c);
print(type(c));
d=bool(a);
print(d);
print(type(d));
e=complex(a);
print(e);
print(type(e));

<class 'float'>
10.5
<class 'str'>
10
<class 'int'>
True
<class 'bool'>
(10.5+0j)
<class 'complex'>

In [ ]:
a=10;
b=20;
c=a+b;
d=a-b;
e=a*b;
f=a/b;
print(c);
print(d);
print(e);
print(f);
print(type(c));
print(type(d));
print(type(e));
print(type(f));

30
-10
200
0.5
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>